* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    padding: 10px;
    background-color: #66B032;
    justify-content: space-between;
    flex-shrink: 0.1; /* make the words in nav bar not break lines when shrunk */
}

#navlogo {
    display: flex;
    margin-right: auto;
    text-decoration: none;
    font-size: 34px;
    color: #9BD770;
}

.navlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    margin: 10px;
}

.navlink {
    display: flex;
    text-decoration: none;
    flex: 1;
    justify-content: flex-end;
    font-size: 21px;
    color: #1B3409;
    padding-right: 15px;
    padding-left: 15px;
}

nav a:hover {
    color: #EBF7E3;
    background-color: #3a7410;
}

a:hover {
    background-color: #a8b99d;
}

body {
    background: #EBF7E3;
}

h1 {
    text-align: center;
    font-size: 89px;
    color: #375F1B; 
}

h2 {
    text-align: left;
    font-size: 34px;
    color: #5d7e46;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    text-align: left;
    font-size: 34px;
    color: #759161;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    color: #CC9965;
    text-align: left;
    font-size: 21px;
    margin-left: 15%;
    margin-right: 15%;
}

.bulletpoints {
    color: #CC9965;
    text-align: left;
    font-size: 21px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 20px;
}

strong {
    font-weight: 900;
}

a {
    text-decoration: none;
    /* color: #CC9965; i dont know if i like the link color or an em tag for links */
}

.centered {
    text-align: center;
}

.no-link-decoration {
    text-decoration: none;
    color: inherit;
}

.fit-pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

