* {
    padding: 0;
    margin: 0;
}

ul.navbar {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

li {
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.navdiv {
    float: right;
}