* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    padding: 10px;
    background-color: #66B032;
    justify-content: space-between;
    flex-shrink: 0.1; /* make the words in nav bar not break lines when shrunk */
}

#navlogo {
    display: flex;
    margin-right: auto;
    text-decoration: none;
    font-size: 34px;
    color: #9BD770;
}

.navlinks {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    margin: 10px;
}

.navlink {
    display: flex;
    text-decoration: none;
    flex: 1;
    justify-content: flex-end;
    font-size: 21px;
    color: #1B3409;
    padding-right: 15px;
    padding-left: 15px;
}

a:hover {
    color: #EBF7E3;
    background-color: #3a7410;
}

body {
    background: #EBF7E3;
}

h1 {
    text-align: center;
    font-size: 89px;
    color: #375F1B; 
}

h2 {
    text-align: center;
    font-size: 34px;
    color: #e3e3e3;
}

p {
    color: #CC9965;
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 21px;
}

strong {
    font-weight: 900;
}